.wrapper-graph{
display:flex;
height: 100%;
width: 100%;
gap: 10px;

}

#cy, #details {
            background-color:floralwhite;
        border: 5px solid burlywood;
        border-radius: 10px;

}

#details {
    width: 25%;
    padding: 20px;
    
}

#cy {
        /* display: block; */
        width: 75%;

    }


.linked-item{

    border: 1px solid darkslategrey;
    padding: 6px;
    border-radius: 4px;
    background-color: lightcyan;
    display: inline-block;
    cursor: pointer;
    /* margin-top: 10px; */
    
    &:hover{
        background-color: powderblue;
    }

}